body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(147, 238, 238);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #be4141;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #098526;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

ul li {
    background: #f1f1f1;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
